.landing-service {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 17px;
  background-color: blueviolet;
  height: 30vh;
  width: 100vw;
  color: #fff;
}
.landing-service-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.landing-service-title {
    font-weight: 700;
}
