.bloc-nos-valeurs{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: yellow;
    align-items: center;
    height: 80vh;
}
.nos-valeurs {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height:  ; */
    width: 80vw;
    background-color: grey;
}

.nos-valeurs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: ; */
    /* background-color: blue; */
    height: 20vh;
    width: 100%;
    font-size: 2.9em;
    /* padding-bottom: 2.2em; */
}

h6 {
    display: inline;
    font-size: 1.5em;
    color: blueviolet;
    font-weight: 500;
}
.nos-valeurs-paragraph {
    /* display: block; */
    /* justify-content: center; */
    text-align: justify;
    background-color: red;
    font-size: 1.2em;
    padding: 5%;
    width: 40vw;
}