.bloc-nos-valeurs{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 80vh;
}
.nos-valeurs {
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80vw;
}

.nos-valeurs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 20vh;
    width: 100%;
    font-size: 2.9em;
    padding-bottom: 30%;
}

h6 {
    font-size: 1.5em;
    color: blueviolet;
    font-weight: bolder;
}

.typed-nos-valeurs{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:400px) {
    .bloc-nos-valeurs {
        height: 100%;
    }
    
    .nos-valeurs {
        background-color: red;
        font-size: 1.1em;
        height: 100vh;
    }
}



