.scroll-container{
    height: 2000px;
    width: 100vw;
    background-color: red;
}

.box {
    background-color: rgb(245, 245, 18);
    border-bottom: solid black;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1.4em;
}