.content-service-1-wrap {
    display: flex;
    flex-direction: column;
}
.content-service-1-wrap > h4 {
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    width: 260px;
}
.content-service-1-wrap > div {
    height: 20px;
}
.content-service-1-wrap > p {
    color: #43484d;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
    letter-spacing: .5px;
    font-weight: 400;
}