/* IPHONE SE
  width 375px
  height 667px
*/

/* 
  1. CTA (Call To Action) 
    1.1 Line Animation

  2. Form
    2.1 Title Container
    2.2 Mail Container
    2.3 Space Container
    2.4 Message Container
    2.5 Button Container
    2.6 Error message
*/

/* ----- 1. CTA (Call To Action) ----- */

.form-cta-container {
  max-width: 100vw;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 1200px;
  /* background-color: red; */
  text-align: center;
}

.cta-form {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-form-paragraph {
  font-weight: bolder;
  font-size: 1.2em;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.text-cta-form {
  height: 100%;
  width: 100%;
}

/* ----- 1.1 Line animation -----*/

.line-animation-top-container {
  height: 20%;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.line-animation-top {
  width: 35%;
  height: 40%;
  border-bottom: 3px solid blueviolet;
  /* animation: line-animation-top 0.5s linear; */
}

@keyframes line-animation-top {
  from {
    transform: translateX(-125%);
  }
}

.line-animation-bottom-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.line-animation-bottom {
  width: 35%;
  height: 40%;
  border-bottom: 3px solid blueviolet;
  /* animation: line-animation-bottom 0.5s linear; */
}

@keyframes line-animation-bottom {
  from {
    transform: translateX(+125%);
  }
}

/* ----- 2. Form ----- */

form {
  background-color: blueviolet;
  width: 85vw;
  height: 40%;
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bolder;
  flex-wrap: wrap;
  box-shadow: 17.2px 21.5px 21.1px rgba(0, 0, 0, 0.121),
    31.1px 38.8px 37.7px rgba(0, 0, 0, 0.202),
    46px 57.5px 60.7px rgba(0, 0, 0, 0.274), 64px 80px 160px rgba(0, 0, 0, 0.4);
}

/* ----- 2.1 Title Container ----- */

.title-container {
  height: 10%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

form h4 {
  font-size: 1.4em;
  /* height:20%; */
  /* background-color: red; */
}

/* ----- 2.2 Mail Container ----- */

.mail-container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.label-mail {
  height: 25%;
  width: 80%;
}

.mail-input > input {
  border-radius: 15px;
  background-color: blueviolet;
  border: none;
  border-width: 0em 0em 30% 0em;
  border-color: white;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 15px;
  width: 90%;
  border-width: 10%;
}

.mail-input > input:focus {
  outline: none;
  background-color: rgb(121, 48, 189);
  transition: background-color 0.25s;
}

/* ----- 2.3 Space Container ----- */

.space-container {
  height: 10%;
  /* background-color: fuchsia; */
}

/* ----- 2.4 Message Container ----- */

.message-container {
  height: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: green; */
}

.mail-input {
  /* width: 100%; */
}

/* .mail-input > input {
  color: white;
  border-radius: 15px;
  width: 90%; 
  border-width: 10%;
  
} */

.message-input > textarea {
  border-radius: 15px;
  background-color: blueviolet;
  border: none;
  border-width: 0em 0em 30% 0em;
  border-color: white;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Montserrat";
}

.message-input > textarea:focus {
  outline: none;
  background-color: rgb(121, 48, 189);
  transition: background-color 0.25s;
  color: white;
}

.label-message {
  height: 20%;
  width: 80%;
}

.mesage-input {
  /* background-color: aqua; */
  height: 100%;
}

.text-label-mail {
  width: auto;
  height: 100%;
  /* background-color: red; */
  /* position: relative; */
  /* top: 70%; */
  /* left: -40%; */
  /* animation: test 0.5s !important; */
  /* top: -10% ; */
}


/* @keyframes test {
  from {
    top:90%;
  }
  to {
    top: -10%;
  }
} */

/* form .mail-container .label-mail .text-label  */
/* input:focus {
  background-color: red!important;
} */

form .mail-container input:focus label {
  background-color: red !important;
  height: 100px !important;
  width: 200px !important;
}

textarea {
  /* height: 15em; */
  height: 140px;
  width: 100% !important;
}

/* ----- 2.5 Button Container ------ */

.button-container {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 15%;
  width: 100%;
  /* background-color: aqua; */
}

.button-container > div {
  width: 100%;
  height: 100%;
}
.submit-button {
  background-color: blueviolet;
  /* appearance: none; */
  text-decoration: none;
  cursor: pointer;
  border-color: aliceblue;
  border-radius: 10px;
  width: 50%;
  height: 60%;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}

.submit-button:hover {
  background-color: white;
  color: blueviolet;
  font-size: 1.2em;
  transition: background-color 0.75s, font-size 0.5s;
  /* transition: font-size 0.5s; */
}
/* ---------------- */
/* test */
.dark {
  background-color: black;
}
.light{
  background-color: yellow;
}
/* ----- 2.6 Error message ----- */
.error-message{
  color: rgb(234, 7, 7);
  font-size:0.6em;
  text-decoration: underline;
}