/* IPHONE SE
  width 375px
  height 667px
*/

.form-cta-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 1100px;
  /* background-color: red; */
  text-align: center;
}

.cta-form {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-form-paragraph {
  font-weight: bolder;
  font-size: 1.2em;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
}

.text-cta-form{
  height: 100%;
  width: 100%;
}


/* Line animation */

	/* .line-animation-top {
		width: 400px;
		height: 2px;
		background: rgb(211, 8, 8);
		
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
	}

	.line-animation::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: green;
		animation: animate 5s linear infinite;
	}

	@keyframes animate {
		0% {
			left: 0;
		}

		50% {
			left: 100%;
		}

		0% {
			left: 0;
		}
	} */






/* Form */

form {
  background-color: blueviolet;
  width: 85vw;
  height: 40%;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bolder;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

form h4 {
  font-size: 1.4em;
}

.mail-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  height: 50%;
  display: flex;
  justify-content: center;
}

.mail-input {
  /* width: 100%; */
}

.mail-input > input {
  border-radius: 15px;
  width: 90%;
}

.message-input > textarea {
  border-radius: 15px;
}

.label-mail {
  height: 25%;
  width: 80%;
}

.label-message {
  height: 20%;
  width: 80%;
}

.mesage-input {
  /* background-color: aqua; */
  height: 100%;
}

.text-label {
  width: auto;
  height: 100%;
  /* background-color: red; */
}

textarea {
  /* height: 15em; */
  height: 140px;
  width: 100% !important;
}

.button-container {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 20%;
  width: 100%;
  /* background-color: red; */
}

.button-container > div {
  width: 100%;
  height: 100%;
}
.submit-button {
  background-color: blueviolet;
  /* appearance: none; */
  text-decoration: none;
  cursor: pointer;
  border-color: aliceblue;
  border-radius: 10px;
  /* padding: 5%; */
  width: 50%;
  height: 60%;
  color: white;
  font-weight: bolder;
}

.submit-button:hover {
  background-color: white;
}

/* .submit-button:focus{
  background-color: blueviolet;
} */
